#include <zephyr/dt-bindings/led/led.h>

/ {
    aliases {
        my-red-led = &red_led;
        my-green-led = &green_led;
        led-strip = &led_strip;
    };
};

&flexcomm1_lpspi1 {
    status = "okay";

    led_strip: ws2812@0 {
        status = "okay";
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <6400000>;

        /* WS2812 */
        chain-length = <16>; /* Number of LEDs on the strip */
        spi-one-frame = <0xF0>;
        spi-zero-frame = <0xC0>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
